# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
logs/*.txt
logs/*.zip
logs/threshold_config/*.json
# C extensions
*.so

llm/prompt_index/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# env
*.env

# local vscode/extension setting
.vscode

*/uploaded_files/*
llm/app/uploaded_files/*